@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-bg-primary: #e8ecf3;
    --color-bg-secondry: #0c1226;
    --color-pallete-1: #EEEDF0;
    --color-pallete-2: #A1B5C1;
    --color-pallete-3: #F9ACA7;
    --color-pallete-4: #68747D;
    --color-pallete-5: #CF365F;
    --color-bg-btn-primary: #7e6cca;
    --color-text-1: #03091e;
    --color-text-2: #464b5a;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.container {
    min-height: 100vh;
    background-color: var(--color-bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.color-generator {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    /* margin: 2rem 0; */
    padding: 4rem 2rem;
}

.color-generator__copied {
    font-size: 1.5rem;
    font-weight: 200;
    background-color: var(--color-bg-secondry);
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 5rem;
    box-shadow: 2px 2px 10px #03091e44;
}

.color-generator__copied span {
    font-weight: 500;
}

.color-generator__title {
    font-size: 2.4rem;
    font-weight: 600;
}

.color-generator__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    grid-template-rows: 26rem;
    grid-auto-rows: 26rem;
    justify-content: center;
    gap: 2.5rem;
    padding: 0 2rem;
}

.color-generator__container--pallete {
    background-color: #fff;
    border-radius: 1rem;
    padding: .8rem 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.color-generator__container--pallete:hover {
    transform: translateY(-1rem);
    box-shadow: 2px 2px 16px #03091e52;
}

.color-generator__container--pallete.copied {
    transform: translateY(-1rem);
    box-shadow: 2px 2px 16px #03091e52;
}

.color-generator__container--pallete__color {
    width: 100%;
    height: 90%;
    border-radius: .5rem;
}

.color-generator__container--pallete:first-child>div {
    background-color: var(--color-pallete-1);
}

.color-generator__container--pallete:nth-child(2)>div {
    background-color: var(--color-pallete-2);
}

.color-generator__container--pallete:nth-child(3)>div {
    background-color: var(--color-pallete-3);
}

.color-generator__container--pallete:nth-child(4)>div {
    background-color: var(--color-pallete-4);
}

.color-generator__container--pallete:last-child>div {
    background-color: var(--color-pallete-5);
}

.color-generator__container--pallete__code {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-text-2);
}

.color-generator__container--pallete.copied>p {
    color: var(--color-text-1);
}

.color-generator__btn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.color-generator__btn a {
    align-self: center;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1.5rem 8rem;
    background-color: var(--color-bg-btn-primary);
    color: #fff;
    border-radius: .5rem;
}

.color-generator__btn p {
    font-size: 1.4rem;
}

.color-generator__info {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 200;
    background-color: #ffff;
    border-radius: 5rem;
}

.color-generator__info span {
    margin-left: 1rem;
    position: relative;
}

.color-generator__info span::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -1rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #03091ea1;
}

@media screen and (max-width:500px) {
    .color-generator__container {
        grid-template-rows: 20rem;
        grid-auto-rows: 20rem;
    }

    .color-generator__btn a {
        padding: 1.5rem 6rem;
    }
}